{% load static %}


<div class="user">
    <header class="user__header">
        {% load static %}
        <link rel="stylesheet" type = "text/css" href = "{% static './styles/register.css' %}" >
        <a href='/'>
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cb/Kathmandu_University_Logo.svg/800px-Kathmandu_University_Logo.svg.png"
                alt="" width="100" height='100' href='' />
        </a>
        <h3>REGISTER</h3>
    </header>
    <center>
    <form class="form" method='POST'>
        <div class="form__group">
            <div class="form__input">
                    {{form.username.label}}: {{form.username}}
            </div>
        </div>
    
        <div class="form__group">
            <div class="form__input">
                    <p>Email: {{form.email}}</p>
            </div>
        </div>
    
        <div class="form__group">
            <div class="form__input">
                    {{form.password1.label}}: {{form.password1}}
            </div>
        </div>
        <div class="form__group">
            <div class="form__input">
                    Confirm password: {{form.password2}}
            </div>
        </div>
        <p style ="color:red;">{{form.errors}}</p>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <div class='Links'>
            <p>Already have an account?<a href="{% url 'Login' %}">Sign in </a></p>
        </div>
    
        <button class="btn" type="submit">Register</button>
    </form>
    </center>

</div>
